span {
    font-size: 5em;
}

#horizontal-line {
    width: 80%;
}


#box {
    background-color: rgba(245, 245, 245, 0.699);
}

.centerElement {
    margin: auto;
    width: 60%;
}

.firstList {
    margin: 0 31vh 0;
}