span {
    font-size: 5em;
}

#horizontal-line {
    width: 80%;
}


#box {
    background-color: rgba(245, 245, 245, 0.699);
}

.centerElement {
    margin: auto;
    width: 60%;
}

.firstList {
    margin: 0 32vh 0;
}

#topText {
    width: 90%;
    margin: auto;
}

#largeTableItem {
    width: 50%;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-container > div {
    background: #eee;
    padding: 1em;
}

.grid-container > div:nth-child(odd) {
    background: #ddd;
}

@media (max-width: 767px) {
    table {
        display:none;
    }

    .firstList {
        margin:0 1vh 0;
    }
}