#banner {
    font-size: 60px;
    font-family:'Franklin Gothic Medium';
    line-height: 1em;
    color: #0a223e;
}

#horizontal-line {
    width: 80%;
}


#box {
    background-color: rgba(245, 245, 245, 0.699);
}

.centerElement {
    margin: auto;
    width: 100%;
    text-align: center;
    top: 0;
}

.firstList {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 2px;
    margin-top: 0;
    width: 45vw;
    /*border: 5px grey;
    border-style: double double solid solid;
    display: inline-block;*/
}

#topText {
    width: 90%;
    margin: auto;
}

#largeTableItem {
    width: 50%;
}

.visible-sm {
    display: none;
}

b {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    max-width: 30vw;
}

table {
    margin-bottom: 30px !important;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}

#CLASSlogo {
    width: 30vh;
    padding-right: 20px;
}

#TimerContainer {
    border-style: solid;
    width: fit-content;
    max-width: 70vw;
    padding-top: 1vw;
    margin-bottom: 20px;
}

#banner2021 {
    font-family: cursive;
    font-size: 1.3em;
    color: orange;
}

.pTitle {
    font-size: 3em;
    color: orange;
}

.listTitle {
    font-size: 1.3em;
    color: orange;
}

.tableTitle {
    color: orange;
}

.awardsTitle {
    font-size: 1.8em;
    color: orange;
}

p , li {
    font-size: 18px;
}

#classTable {
    width: 90vw;
}



.side-by-side {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0 3em;
    
}

.side-by-side #format {
    grid-column: 1 / 3;
    margin: auto;
    margin-top: 1em;
}

#registerButton {
    margin-bottom: 1vh;
}

button {
    width: 15%;
}

@media (max-width: 1100px) {

    table {
        margin-bottom: 50px !important;
    }

    .hidden-sm {
        display:none;
    }

    .visible-sm {
        display: block;
    }

    #CLASSlogo {
        width: 16vh;
    }

}

@media (max-width: 767px) {
    .firstList {
        width: 80vw;
    }

    #banner2021 {
        font-size: 80px;
    }
}

@media (max-width: 550px) {
    #banner2021 {
        font-size: 50px;
    }

    #banner {
        font-size: 40px;
    }
}

@media (max-width: 360px) {
    #banner2021 {
        font-size: 40px;
    }

    #banner {
        font-size: 30px;
    }
}