#image {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50vw;
}

.hidden{
    display: none;
}

.centerElement {
    margin: auto;
    width: 100%;
    text-align: center;
    top: 0;
}

@media (max-width: 767px) {
    #image {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }


}