.nav-link{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: transparent !important;
    color: lightgray;
}

.nopadding{
    padding:0 !important;
    margin:0 !important;
}

.navbar-brand{
    font-size: 2rem !important;
    line-height: 1.3rem !important;
}

#header{
    font-size: 45px !important;
}

#subheading{
    font-size: .3em;
}

.carousel-inner img{
    width: 100vw !important;
}

#footer{
    line-height: 1em;
}

.utm-color{
    background-color: #0a223e;
    color: white;
}

hr{
    background-color: white;
}

.margin-auto{
    margin: auto !important;
}

.indent{
    margin-left: 40px;
}

.top-padding{
    padding-top: 40px;
}

.bottom-padding{
    padding-bottom: 40px;
}