.nopadding{
    padding:0 !important;
    margin:0 !important;
}

.img-fluid {
    width: 100px;
    height: 100px;
}

.staff_info {
    line-height: 1em;
    padding-bottom: 40px;
}

.student_info {
    line-height: .5em;
}

.last_info {
    line-height: .5em;
    padding-bottom: 1em;
}

#footer{
    line-height: 1em;
}

hr{
    background-color: white;
}

#socials{
    font-size: 3em;
    padding-bottom: 1rem;
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00aced;
}

.fa-instagram{
    color: white;
}

.fa-youtube{
    color: #bb0000;
}

.top-padding{
    padding-top: 40px;
}

.margin-auto{
    margin: auto !important;
}

.bottom-padding{
    padding-bottom: 40px;
}

.left-margin{
    margin-left: 33vh;
}

.right-margin{
    margin-right: 33vh;
}

.utm-color{
    background-color: #0a223e;
    color: white;
}

.staff-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto; 
}

@media (max-width: 767px){
    .left-margin, .right-margin{
        margin: 0;
    }

    .hidden-xs {
        display: none !important;
    }

    .navbar {
        padding-top: 20px !important;
    }
}