body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    background-color: rgb(202, 212, 212);
}

#headerContainer {
    background-color: #FF8200;
    color:white;
    top: 0;
    display: inline-block;
    width: 100%;
    height: fit-content;
}

#headerContainer

img{
    padding: 0;
    margin: 1.7rem 0 0 5rem;
    display: inline-block;
    width: 10rem;
}

#headerContainer h1{
    display: inline;
    margin: 0 0 0 16rem;
    width: 50%;
}

#headerContainer h2{
    display:inline;
    margin: 0 0 0 15rem;
    padding: 0;
}

a h1{
    width: 50%;
    display: block;
    float: right;
    top: 0;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.floater {
    width: 10em;
    height: 7.5em;
    background-color: #0c2340;
    font-size: 2em;
    color: #FF8200;
    float: left;
    text-align: center;
    line-height: 7em;
    margin: 2em 2em 2em 0;
    border: .2em solid white;
    filter: drop-shadow(.2em .2em .1em grey);
}

footer {
    bottom: 0;
    display: inline-block;
    width: 100%;
    background-color: #FF8200;
    padding-top: 3em;
    padding-bottom: 3em;
}
  
/* Look at this later when we understand JS -Riki https://developer.twitter.com/en/docs/twitter-for-websites/timelines/overview*/


.footerBox {
    color: white;
    font-size: 1.4em;
    float: left;
    padding-right: 5em;
    padding-left: 3em;
    border-right: .08em solid whitesmoke;
    line-height: 2.5em;
}

#imgBanner {
    position: relative;
}

.textBlock {
    position: absolute;
    bottom: 50%;
    right: 3em;
    background-color: grey;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}