.nav-link{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: transparent !important;
    color: lightgray;
}

.nopadding{
    padding:0 !important;
    margin:0 !important;
}

.navbar-brand{
    height: auto;
    width: auto;
    max-width: 95px;
    max-height: 150px;
    font-size: 2rem !important;
    line-height: 1.3rem !important;
}

#header{
    font-size: 45px !important;
}

#subheading{
    font-size: .3em;
}

/* Makes carousel move but images fit the screen width */
/* .carousel-inner img{
    width: 100vw !important;
} */

/* Makes carousel not move but images look strange */
.carousel-item img{
    display: block;
    margin: auto;
    width: auto;
    height: 34vw;
    max-height: 34vw;
}


/* Displays the video in the carousel */
.carousel-item iframe{
    display: block;
    margin: auto;
    width: 80%;
    height: 34vw;
    max-height: 34vw;
}

.p-header{
    font-size: 50px;
    color: #0a223e;
}

.about-info{
    font-family: "Tahoma";
    font-size: 20px;
}

#footer{
    line-height: 1em;
}

#socials{
    font-size: 3em;
    padding-bottom: 1rem;
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00aced;
}

.fa-instagram{
    color: white;
}

.fa-youtube{
    color: #bb0000;
}

.utm-color{
    background-color: #0a223e;
    color: white;
}

.white{
    color: white;
}

hr{
    background-color: white;
}

.margin-auto{
    margin: auto !important;
}

.indent{
    margin-left: 40px;
}

.top-padding{
    padding-top: 40px;
}

.bottom-padding{
    padding-bottom: 40px;
}

.hidden-lg{
    display: none !important;
}

.br {
    display: none;
    margin: 0em !important;
}

.timer{
    padding: 50px 0 10px;
    font-size: 30px;
}

.hide {
    display: none;
}

@media (max-width: 875px){
    .br {
        display: block !important;
    }
}

@media (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }

    .hidden-lg {
        display: inline !important;
    }

    .br {
        display: none !important;
    }

    .navbar {
        padding-top: 20px !important;
    }

    .carousel-item img{
        height: 20rem;
        max-height: 15rem;
    }

    .carousel-item iframe{
        height: 20rem;
        max-height: 15rem;
        width:100%
    }
}

@media (max-width: 450px){
    .br {
        display: block !important;
    }
}