body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.floater {
    width: 200px;
    height: 200px;
    background-color: #0c2340;
    font-size: 2em;
    color: #FF8200;
    float: left;
    text-align: center;
    line-height:6em;
    margin: 20px 20px 20px 0;
}

footer {
    text-align: right;
    margin-top: 60px;
    padding: 40px;
    /*fff*/
}